

:root {
    --primary-color: #F58648;
    --secondary-color: #19293A;
    --dark-graident: #F58648;
    --light-gradient: #ECA028;
    --text-secondary: #596080;
    --secondary-bgColor: #F5F6FA;
  
  }


/* ***********************View Resoirces */
/* .view-resources-tittle{
    display: flex;
    justify-content: space-between;
}
.view-resources-tittle-ul{
    display: flex;
    list-style: none;
    border-radius: 10px;
  background-color: #f5f6fa !important;
} */
/* .view-resources-tittle-li-active{
    background-color: white;
  box-shadow: 0px 3px 8px white, 0px 12px 16px rgb(0 0 0 / 4%);
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
} */
/* .view-resources-tittle-li{
    opacity: 0.8;
    cursor: pointer;
    font-size: 0.8rem;
    /* EBEDF5 
}  */

/* *************************View Resources List ************************************** */
.view-resources-ul {
    list-style: none;
}
.view-resources-ul li a{
  font-size: 0.85rem;
 text-decoration: none ;
 color:var(--text-secondary) ;
}
.view-resources-ul li a:hover{
   text-decoration:underline;
   cursor: pointer;
   color: #19293A;
}
/* footer icon nav */
.footer-second-main{
  background-color: #EBEDF5;
}
.footer-second{
    display: flex;
    justify-content: space-between;
}
.footer-second h1{
  font-weight: 600;
}
/* *************************footer second*********************************** */
.footer-second-first-row{
  padding: 2rem;
  border-bottom: 1px dashed gainsboro ;
}
.resources-container .nav-link{
  

}
.resources-container .nav-link {

  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  

  cursor: pointer;


  /* color: black; */
  /* font-family: 'Poppins' !important; */
}

.resources-container .nav-link:hover {
  color: var(--primary-color);
}
.resources-container .nav-link:active{
  background-color: var(--secondary-color) ;
  color: white;
}