@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Colors:
Primary color: F58648  (Orange)
Secondary color: 19293A (Dark Blue)
Gradient Colors:
color 1: F58648  (Dark Orange)
color 2: ECA028 (Light Orange) */

:root {
  --primary-color: #F58648;
  --secondary-color: #19293A;
  --dark-graident: #F58648;
  --light-gradient: #ECA028;
  --text-secondary: #596080;
  --secondary-bgColor: #F5F6FA;

}

/* /* /* **************Card************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sons-serif !important;
}

.button {
  background-color: var(--secondary-color);
  transition: all 0.4s;
}

.button:hover {
  background-color: var(--primary-color);
  transform: translateY(-0.3rem);
  border: 1px solid var(--primary-color);
}

.card-main-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

.card-main {
  border-radius: 0.625rem;
  text-align: left;
  width: 100%;
  height: 18.75rem;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
  border: none;
  position: relative;
}
/* .card-main-body{
  position: absolute;
    width: 100%;
    top: 0; 
    left: 0;
    padding: 1.75rem;
} */

/* /* /* **************Card b************* */
.card-add-magic {
  border: none;
  box-shadow: none;
  width: 100%;
}
.card-add-magic .card-img{
  width: 13rem;
  height: 13rem;
  /* margin: 0 auto; */
}

/* 
****************************************** CARDCREATIVE******************************* */
.card-creative {
  border-radius: 0.625rem;
  text-align: left;
  /* width: 100%; */
  transition: all 0.3s ease;
}

.card-heading {
  font-size: 1rem;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Poppins' !important;
}

.card-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--text-secondary) !important;
}

/* ******************************* */
.card-div {
  padding: 0.625rem;
}

.cardd {
  background: #fff;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 8%), 0px 12px 16px rgb(0 0 0 / 4%);
  border-radius: 20px;
  height: 9.375rem;
  color: #000;
  flex-direction: column;
  padding: 0.625rem;
  /* position: relative; */
  /* border: 0.16rem red solid; */
}

.cardd .card-body {
  flex: 0 1 auto !important;
}


/* ******************** Carde********************* */

.Carde {
  /* width: '18rem'; */
  background-color: var(--secondary-bgColor);
  border: 1px solid var(--secondary-bgColor);
  border-radius: 12px;
  padding: 0.625rem;
}

/* ******************** Cardf********************* */
.cardf {
  border: none;
}

.card-subtitle {
  font-size: 0.688rem;
  color: var(--primary-color);
  margin-bottom: 1rem;

}

.cardf .card-title {
  font-weight: 700 !important;
  margin-bottom: 1.5rem;
}

.cardf .card-text {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

/*************************** Hero Input Group***************************************************** */
.hero-search-btn {
  background-color: var(--dark-graident);
  padding: 12px;
  border-radius: 3rem;
  border: none;
  padding: 0.75rem;
  width: calc(2px + 3.25rem);
  height: calc(2px + 3.25rem);
}

.hero-search-btn:hover {
  background-color: var(--light-gradient);
}

.hero-input-group-dropdown {
  background-color: #f5f6fa !important;
  padding: 0.9rem;
  color: #000;
  border-radius: 3rem;
  border: none;
  font-weight: 600;

}

.hero-input-group-dropdown:hover {
  color: black;
}

.input-group {

  border-radius: 3rem !important;
  padding: 0rem 5rem;
}

.hero-input-group {
  border-radius: 3rem;
  width: 100%;
}
.hero-input {
  border: none;
  color: var(--text-secondary);
  font-size: 1.1rem;
  left: 1rem;
}
.hero-input:focus{
  outline: none !important;
  border: none !important;
  
}
.trending-title {
  opacity: 0.6;
  color: var(--text-secondary);
  font-weight: 600;
}
.trending-list li {
  color: white;
}