@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-color: #F58648;
  --secondary-color: #19293A;
  --dark-graident: #F58648;
  --light-gradient: #ECA028;
  --text-secondary: #596080;
  --secondary-bgColor: #F5F6FA;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #e9ecef;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 50px;
}

/* navbar header */
/* /* /* **************Card************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sons-serif !important;
}

.card-link,
.btn-link {
  text-decoration: none !important;
  color: inherit;
}

/* *************NAVBAR************** */
nav {
  top: 0;
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.08);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* .navbar-content {
  border: 2px solid black;
} */
nav .navbar-collapse.collapse {
  display: block;
}

nav .navbar-collapse {
  transition: .6s all ease-in-out;
  height: 0 !important;
}

.navbar {
  position: sticky;
  background-color: white;
  z-index: 1;
}

.nav-item {
  margin-right: 1rem;
}

/* .navbar-div {
  background-color: white;
  box-shadow: 0 6px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
} */
.nav-brand {
  font-size: 2rem;
  font-weight: 800;
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-brand:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  /* border: 2px solid var(--secondary-color); */
  background-color: white;
  /* border: 0.1px solid var(--secondary-color); */
  /* border-radius: 50px !important; */
  border: none !important;
  color: var(--secondary-color) !important;

}

.navbar-toggler:hover {
  /* background-color: var(--secondary-bgColor); */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  transform: all 3s;
  flex-basis: 100%;
  flex-grow: 1;
  transform: translate(10px, 10px);
}

.navbar-link {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--primary-color);
}

.user .nav-btn {
  border-radius: 2.2rem;
  margin: 5px;
  font-size: 1.1rem;
  padding: 8px 15px;
  font-weight: 500;
  transition: all 0.5s;
}

.nav-btn-link {
  color: white;
  text-decoration: none;
}

/* *****************************Sign up button******************************************* */
.signup-link {
  color: white;
}

.user .signup {
  background: linear-gradient(to bottom, var(--secondary-color), #264463);
  border: 1px solid var(--secondary-color);
}

.user .signup:hover {
  background: linear-gradient(to bottom, var(--dark-graident), var(--light-gradient));
  transform: translateY(-0.3rem);
  border: 1px solid var(--primary-color);
}

.user .signup:hover .signup-link:hover {
  color: white;
}

/* ***********************Login button *************************** */
.user .login {
  background: white;
  border: 1px solid var(--primary-color);
}

.login-link {
  color: var(--secondary-color);
}

.user .login:hover {
  background: linear-gradient(to bottom, var(--secondary-color), #264463);
  border: 1px solid var(--secondary-color);
  transform: translateY(-0.3rem);
  color: white;
}

.user .login:hover .login-link {
  color: white;
}

/* ************************ Button page css ****************************** */
.button {
  background-color: var(--secondary-color);
  transition: all 0.4s;
  border: 1px solid var(--secondary-color);
}

.button:hover {
  background-color: var(--primary-color);
  transform: translateY(-0.3rem);
  border: 1px solid var(--primary-color);
}

.arrow-button {
  border: 1px solid var(--secondary-color);
}

/* *************ALL CARDS HEADING AND DESCRIPOTION******************** */
.card-heading {
  font-size: 1rem;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Poppins' !important;
}

.card-link .hero-card-heading {
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.card-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--text-secondary) !important;
}

.card-link .hero-card-description {
  color: var(--text-secondary) !important;
}

/* ***************CARD MAIN***************** */
.card-main-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

.card-main {
  border-radius: 0.625rem;
  text-align: left;
  width: 100%;
  height: 18.75rem;
  transition: all 0.5s ease;
  box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
  border: none;
  position: relative;
}

.card-main:hover {
  transform: translateY(-0.8rem);
}

/*  **************Card add magic************* */
.card-add-magic {
  border: none;
  box-shadow: none;
  width: 100%;
}

.card-add-magic .card-img {
  width: 13rem;
  height: 13rem;
}

/* 
****************************************** CARD CREATIVE******************************* */
.card-creative {
  border-radius: 0.625rem;
  text-align: left;
  /* width: 100%; */
  transition: all 0.3s ease;
  /* --secondary-bgColor: #F5F6FA; */
}

.card-creative:hover {
  transform: translateY(-0.8rem);
}

.card-creative .card-img {
  object-fit: cover;
  border-radius: 10px;
}

/* ******************************* */
/* .card-div {
  padding: 0.625rem;
}
.cardd {
  background: #fff;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 8%), 0px 12px 16px rgb(0 0 0 / 4%);
  border-radius: 20px;
  height: 9.375rem;
  color: #000;
  flex-direction: column;
  padding: 0.625rem;
  /* position: relative; */
/* border: 0.16rem red solid; 
}
.cardd .card-body {
  flex: 0 1 auto !important;
}
 */
/* ******************** Card editing********************* */

.Card-editing {
  /* width: '18rem'; */
  background-color: var(--secondary-bgColor);
  border: 1px solid var(--secondary-bgColor);
  border-radius: 12px;
  padding: 0.625rem;
}

.card-editing-text {
  line-height: 1.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ******************** Cardf********************* */
/* .cardf {
  border: none;
}
nav-toggler
.card-subtitle {
  font-size: 0.688rem;
  color: var(--primary-color);
  margin-bottom: 1rem;

}

.cardf .card-title {
  font-weight: 700 !important;
  margin-bottom: 1.5rem;
}

.cardf .card-text {
  color: var(--text-secondary);
  font-size: 0.875rem;
} */

/*************************** Hero Input Group***************************************************** */
.hero-search-btn {
  background-color: var(--dark-graident);
  padding: 12px;
  border-radius: 3rem;
  border: none;
  padding: 0.75rem;
  width: calc(2px + 3.25rem);
  height: calc(2px + 3.25rem);
  z-index: 0 !important;
  position: absolute;
}

.hero-search-btn:hover {
  background-color: var(--secondary-color);
}

.hero-search-btn:focus {
  background-color: var(--secondary-color) !important;

}

.hero-input {
  margin-right: 1.1rem;
}

.hero-input:focus {
  /* box-shadow: 0 0 39px 2px var(--light-gradient); */
  box-shadow: none !important;

}

.input-group {
  border-radius: 3rem !important;
  padding: 0% 18%;
}

.hero-input-group {
  border-radius: 3rem;
  width: 100%;
  padding: 4px 2px !important;
}

.hero-input-group-dropdown {
  background-color: #e9ecef !important;
  padding: 0.9rem;
  color: #000;
  border-radius: 3rem;
  border: none;
  font-weight: 600;

}

.hero-input-group-dropdown:hover {
  color: black;
}

.input-group .dropdown-menu {
  /* margin-top: 0.1rem !important; */
  border-radius: 1rem;
  box-shadow: 3px 2px 1px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%)
}

.input-group .dropdown-menu .dropdown-item {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 0.9rem;
}

.input-group .dropdown-menu .dropdown-item:hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-input {
  border: none;
  color: var(--text-secondary);
  font-size: 1.1rem;
  left: 1rem;
}

.hero-input:focus {
  outline: none !important;
  border: none !important;
}

.trending-title {
  opacity: 0.6;
  color: white;
}

.trending-list li {
  color: white;
}