@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --text-secondary:#596080
}
/* /* /* **************Card************* */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Poppins', sons-serif !important;
}

.cardimg{
  max-width: 100%;
  max-height: 100%;
}
.carda {
border-radius: 0.625rem;

text-align: left;
width: 100%;
transition: all 0.3s ease;

box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
}

/* /* /* **************Card b************* */
.cardb{
  border: none;
  box-shadow:none;
}
/* 
****************************************** CARDC******************************* */
.cardc{
  border-radius: 0.625rem;
  text-align: left;
width: 100%;
transition: all 0.3s ease;
}
.cardheading{
  font-size: 1rem;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Poppins' !important;
}
.carddescription{
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--text-secondary) !important;
}