:root {
  --primary-color: #F58648;
  --secondary-color: #19293A;
  --dark-graident: #F58648;
  --light-gradient: #ECA028;
  --text-secondary: #596080;
  --secondary-bgColor: #F5F6FA;
}

/*  ************************************************ */
@media (max-width:1280px) {
  .card-section .container .row {
    margin: 3rem 0 0 0;
  }

  .hero {
    padding-bottom: 4%;
  }

  h1 {
    font-size: 2.25rem;
    line-height: initial;
  }

  .hero-section-main-p2 {
    display: none;
  }

  .add-magic-span::after {
    transform: scale(0.7);
    right: 70px;
    top: -10px;
    /* background-image: url("./assests/bluePseudoElement.svg"); */
  }

  /* .input-group {
    border-radius: 3rem !important;
    padding: 0rem 8rem;
  } */
}

/*  ************************************************ */
@media (max-width: 991px) {
  .nav-brand {
    margin-right: auto;
  }

  nav .navbar-collapse.collapse {
    overflow: hidden;
  }

  nav .navbar-collapse.active {
    height: 40vh !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  nav .nav-link-container {
    gap: 0.8rem;
  }

  .nav-item {
    margin-right: 0;
  }

  .user .nav-btn {
    border-radius: 2.2rem;
    margin: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: 300;
    transition: all 0.5s;
  }

  .hero-input {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dropdown-text {
    font-size: 1rem;
  }

  .hero-input {
    border: none;
    color: var(--text-secondary);
    font-size: 1rem;
    left: 0rem;
  }

  .hero-input-group {
    padding: 7px 4px;
  }

  .input-group {
    border-radius: 3rem !important;
    /* padding: 0rem 0rem; */
  }

}

/*  ************************************************ */
@media (max-width:900px) {

  .add-magic-heading,
  .creative-resources-heading {
    font-size: 1.9rem;
  }

  .add-magic-bg {
    display: none;
  }

  .add-magic {
    margin-top: 3px !important;
  }

  .hero-search-btn {
    background-color: white;

    color: var(--secondary-color);

  }

}

/*  ************************************************ */
@media (max-width:780px) {
  .hero-section-main h1 {
    font-size: 2.6rem;
  }

  .add-magic-heading,
  .creative-resources-heading {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  .dropdown-text {
    font-size: 0.9rem;
  }

  .hero-input {
    border: none;
    color: var(--text-secondary);
    font-size: 1rem;
    left: 0rem;
  }

  .hero-input-group {
    padding: 5px 3px;
  }


  .input-group {
    /* border-radius: 3rem !important; */
    /* padding: 0rem 0rem; */
  }

}

/*  ************************************************ */
@media (max-width:696px) {
  .hero-section-main h1 {
    font-size: 2.1rem;
  }

  /* .dropdown-text {
    font-size: 1rem;
  }

  .hero-input {
    border: none;
    color: var(--text-secondary);
    font-size: 1rem;
    left: 0rem;
  }

  .hero-input-group {
    padding: 0 2rem;
  }

  .input-group {
    border-radius: 3rem !important;
    padding: 0rem 0rem;
  } */

  .trusted-brand-heading {
    margin-bottom: 1.5rem !important;
    font-weight: 500 !important;
  }

  .add-magic-heading {
    font-size: 1.6rem;
  }

  /*************** viewresources  footer*/
  .view-resources-tittle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .artist-img {
    display: none;
  }
}

/* ********************************************* */
@media (max-width:530px) {
  .dropdown-text {
    font-size: 0.8rem;
  }

  .hero-input {
    border: none;
    color: var(--text-secondary);
    font-size: 0.8rem;
    left: 0rem;
  }

  .hero-input-group {
    padding: 3px 2px;
  }


  .input-group {
    /* border-radius: 3rem !important; */
    /* padding: 0rem 0rem; */
  }

}